.product-slider-section {
  padding: 0.5rem 0;
}

.product-slider {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 640px) {
  .product-slider {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .product-slider {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
